{% extends "layout.html" %} {% block content %}

<div class="container">
  <h1>About Us</h1>
  <p>
    Ee Nagaraniki Emaindi (transl. What happened to this city?) is a 2018 Indian
    Telugu-language buddy comedy film written and directed by Tharun Bhascker,
    and produced by D. Suresh Babu under Suresh Productions. The film stars
    Vishwak Sen, Sai Sushanth Reddy, Abhinav Gomatam, Venkatesh Kakumanu, Anisha
    Ambrose, Simran Choudhary, and Galusheya Daria. Music was composed by Vivek
    Sagar with cinematography by Niketh Bommireddy and editing by Ravi Teja
    Girijala. Released on June 29, 2018, the film initially received mixed
    reviews from critics but went on to become a commercial success. Over time,
    it has achieved cult classic status.
  </p>

  <p>
    We are a team of passionate individuals dedicated to go wild. We strive to
    go wild.
  </p>

  <p>One day we will Go Wild and Mad</p>
</div>

{% endblock %}
