{% extends 'layout.html' %} {% block title %}Home - My Django Site{% endblock %}
{% block content %}
<div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="dark" data-type="HORIZONTAL" data-vanity="rakesh-reddy-bokuri" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://in.linkedin.com/in/rakesh-reddy-bokuri?trk=profile-badge">Rakesh Reddy Bokuri</a></div>
              
<h1>Welcome to the Home Page</h1>
<p>This is the home page content.</p>
{% endblock %}
